

<section class="hero-main hero">
  <div class="hero-body">
    <div class="container">
      <div class="column">
        <div class="columns is-two-fifths">
          <h1>Speak Freely</h1>
          <p class="body1">
            Say "Hello" and you and your partner<br>can expect to get a new experience.<br>
            Welcome to the world of privacy.
          </p>
          <p>
            <br>
            <a href="#"><button type="button" class="btn btn-primary btn-lg">Get MystikogramChat</button>
            <i class="fas fa-external-link-alt fa-lg"></i>
            </a>
          </p>
        </div>
        <div class="class=column mobile-screenshots">

        </div>
         <img class="topimage" src="/assets/Subject.png">

      </div>
    </div>
  </div>
</section>

<section class="why-signal section">
  <div class="columns is-centered">
    <div class="columns has-text-centered">
      <h2>Why use Mystikogram?</h2>
      <p class="body1">
          This app keeps you and your partner in the dark.<br>
          Enjoy the secret conversation!
      </p>
     </div>
 </div>
</section>

<section class="section features">
    <div class="container">
        <div class="column is-centered">
            <div class="column is-half has-text-centered">
                <div class="box">
                    <img src="/assets/chatwithme.jpeg">
                    <h3>Say Anything</h3>
                    <p class="body2">
                        Share text, voice messages, photos, videos, <br>GIFs and files for free. Mystikogram uses your<br> phone's data connection so you can avoid SMS and MMS fees.
                    </p>
                </div>
            </div>
            <div class="column is-half has-text-centered">
              <div class="box">
                  <img src="/assets/chatcat.jpeg">
                  <h3>Speak Freely</h3>
                  <p class="body2">
                      Make crystal-clear voice and video calls to people<br> who live across town, or<br>
                      across the ocean, with no long-distance charges.
                  </p>
              </div>
            </div>
        </div>
         <div class="column is-centered">
                <div class="column is-half has-text-centered">
                    <div class="box">
                        <img src="/assets/catman.jpeg">
                        <h3>Make Privacy Stick</h3>
                        <p class="body2">
                            Add a new layer of expression to your conversations with<br> encrypted stickers.
                            You can also create and share your own sticker packs.
                        </p>
                    </div>
                </div>
                <div class="column is-half has-text-centered">
                    <div class="box">
                        <img src="/assets/talking.jpeg">
                        <h3>Get Together with Groups</h3>
                        <p class="body2">
                            Group chats make it easy to stay connected to your family,<br>
                            friends, and coworkers.
                        </p>
                    </div>
                </div>
            </div>
            </div>
</section>

<setion class="section information">
    <div class="container">
        <div class="column is-desktop">
            <div class="columns is-hidden-desktop">
                <img src="/assets/earth.jpeg">
            </div>
            <div class="columns is-one-third">
                <h2>Free for Everyone</h2>
                <p class="body1">
                     Signal is an independent nonprofit. We're not<br>
                     tied to any major tech companies, and we can never be acquired by one either. <br>
                     Development is supported by grants and donations from people like you.
                </p>

            </div>
        </div>
    </div>
</setion>